.button {
    background-color: white;
}

span {
    cursor: pointer;
}

span:hover {
    text-decoration: underline;
}

.main-block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.lists-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.line {
    height: 1px;
    border-bottom: 1px solid black;
    width: 80%;
}